<div class="table-responsive">
    <table class="table table-bordered" id="proyectos">
        <thead>
        <tr>
            <th>Nombre del Proyecto</th>
            <th>Fecha Entrega</th>
            <th>Fecha Sustentacion</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.anteproyecto.nombre_proyecto }}</td>
                <td>{{ proyecto.fecha_entrega }}</td>
                <td>{{ proyecto.fecha_sustentacion }}</td>
                <td>
                    <div class="btn-group">
                        {# Ver #}<a class="btn btn-outline-primary" href="{{ proyecto.get_absolute_url }}"> Ver</a>
                        {# Editar #}<a class="btn btn-outline-info"
                                       href="{% url 'estudiante:editar-proyecto' proyecto.pk %}"> Editar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>