<div class="table-responsive">
    <table class="table table-bordered" id="proyectos">
        <thead>
        <tr>
            <th>Nombre del Proyecto</th>
            <th>Fecha Registro</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.nombre_proyecto }}</td>
                <td>{{ proyecto.fecha_registro }}</td>
                <td>
                    <div class="btn-group">
                        {# Ver #}<a class="btn btn-outline-info" href="{{ proyecto.get_absolute_url }}"> Ver</a>
                        {# Editar #}<a class="btn btn-outline-info"
                                       href="{% url 'estudiante:editar-proyecto' proyecto.pk %}"> Editar</a>
                        {# Rechazar #}<a href=# class="btn btn-outline-danger"> Rechazar</a>
                        {# Aprobar #}<a href="#" class="btn-outline-success">Aprobar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>