{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Editar Perfil{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-personal-tab" data-toggle="pill"
                                   href="#pills-personal" role="tab" aria-controls="pills-personal"
                                   aria-selected="true">Info. Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profesional-tab" data-toggle="pill"
                                   href="#pills-profesional" role="tab" aria-controls="pills-profesional"
                                   aria-selected="false">Info. Profesional</a>
                            </li>

                        </ul>

                        {% csrf_token %} {{ form.non_field_errors }}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }} {{ hidden_field }}
                        {% endfor %}



                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-personal" role="tabpanel"
                                 aria-labelledby="pills-personal-tab">


                                <div class="form-row">
                                    <div class="form-group col">
                                        {{ form.primer_nombre.label_tag }} {{ form.primer_nombre }}
                                        {% if form.primer_nombre.help_text %}
                                            <small class="form-text text-muted">{{ form.primer_nombre.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        {{ form.segundo_nombre.label_tag }} {{ form.segundo_nombre }}
                                        {% if form.segundo_nombre.help_text %}
                                            <small class="form-text text-muted">{{ form.segundo_nombre.help_text }}</small>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="form-group col">
                                        {{ form.primer_apellido.label_tag }} {{ form.primer_apellido }}
                                        {% if form.primer_apellido.help_text %}
                                            <small class="form-text text-muted">{{ form.primer_apellido.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        {{ form.segundo_apellido.label_tag }} {{ form.segundo_apellido }}
                                        {% if form.segundo_apellido.help_text %}
                                            <small class="form-text text-muted">{{ form.segundo_apellido.help_text }}</small>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="form-group">
                                    {{ form.fecha_nacimiento.label_tag }} {{ form.fecha_nacimiento }}
                                    {% if form.fecha_nacimiento.help_text %}
                                        <small class="form-text text-muted">{{ form.fecha_nacimiento.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.sexo.label_tag }} {{ form.sexo }} {% if form.sexo.help_text %}
                                    <small class="form-text text-muted">{{ form.sexo.help_text }}</small>
                                {% endif %}
                                </div>


                                <div class="form-row">
                                    <div class="form-group col">
                                        {{ form.provincia.label_tag }} {{ form.provincia }}
                                        {% if form.provincia.help_text %}
                                            <small class="form-text text-muted">{{ form.provincia.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        {{ form.clase.label_tag }} {{ form.clase }} {% if form.clase.help_text %}
                                        <small class="form-text text-muted">{{ form.clase.help_text }}</small>
                                    {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        {{ form.tomo.label_tag }} {{ form.tomo }} {% if form.tomo.help_text %}
                                        <small class="form-text text-muted">{{ form.tomo.help_text }}</small>
                                    {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        {{ form.folio.label_tag }} {{ form.folio }} {% if form.folio.help_text %}
                                        <small class="form-text text-muted">{{ form.folio.help_text }}</small>
                                    {% endif %}
                                    </div>
                                </div>


                                <div class="form-group">
                                    {{ form.imagen.label_tag }} {{ form.imagen }} {% if form.imagen.help_text %}
                                    <small class="form-text text-muted">{{ form.imagen.help_text }}</small>
                                {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.pais.label_tag }} {{ form.pais }} {% if form.pais.help_text %}
                                    <small class="form-text text-muted">{{ form.pais.help_text }}</small>
                                {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profesional" role="tabpanel"
                                 aria-labelledby="pills-profesional-tab">
                                <div class="form-group">
                                    {{ form.categoria.label_tag }} {{ form.categoria }}
                                    {% if form.categoria.help_text %}
                                        <small class="form-text text-muted">{{ form.categoria.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{ form.cod_sede.label_tag }} {{ form.cod_sede }}
                                        {% if form.cod_sede.help_text %}
                                            <small class="form-text text-muted">{{ form.cod_sede.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        {{ form.cod_facultad.label_tag }} {{ form.cod_facultad }}
                                        {% if form.cod_facultad.help_text %}
                                            <small class="form-text text-muted">{{ form.cod_facultad.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col">
                                        {{ form.cod_departamento.label_tag }} {{ form.cod_departamento }}
                                        {% if form.cod_departamento.help_text %}
                                            <small class="form-text text-muted">{{ form.cod_departamento.help_text }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.cod_escuela.label_tag }} {{ form.cod_escuela }}
                                    {% if form.cod_escuela.help_text %}
                                        <small class="form-text text-muted">{{ form.cod_escuela.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.cod_profesor.label_tag }} {{ form.cod_profesor }}
                                    {% if form.cod_profesor.help_text %}
                                        <small class="form-text text-muted">{{ form.cod_profesor.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.fecha_inicio.label_tag }} {{ form.fecha_inicio }}
                                    {% if form.fecha_inicio.help_text %}
                                        <small class="form-text text-muted">{{ form.fecha_inicio.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-primary" type="submit">Guardar Perfil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
{% block javascript %}
    {% include 'includes/partial_datepicker.html' %}
    <!-- <script>
        $("#id_imagen").addClass("custom-file-input");
    </script>  -->
{% endblock %}
