{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="offset-xs-4 offset-md-2"></div>
        <div class="col-xs-4 col-md-3">
            <div class="card" style="width: 20rem;">
                {% if perfil.imagen %}
                    <img class="card-img-top" src="{{ perfil.imagen }}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top" src="http://lorempixel.com/400/400/cats/" alt="Card image cap">
                {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mi Perfil</h4>
                    <p class="card-text">{{ perfil.usuario.get_full_name }}</p>
                </div>
            </div>
        </div>
        <div class="offset-md-2"></div>
    </div>



    <div class="row top-buffer">
        <div class="offset-2"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mis Actividades</h4>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                               role="tab" aria-controls="pills-home" aria-selected="true">Aprobadas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                               role="tab" aria-controls="pills-profile" aria-selected="false">En Espera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                               role="tab" aria-controls="pills-contact" aria-selected="false">Rechazadas</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre de la Actividad</th>
                                    <th scope="col">Tipo de Actividad</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for actividad in perfil.usuario.actividades.aprobado %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ actividad.nombre_actividad }}</td>
                                        <td>{{ actividad.get_clase_display }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre de la Actividad</th>
                                    <th scope="col">Tipo de Actividad</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for actividad in perfil.usuario.actividades.en_espera %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ actividad.nombre_actividad }}</td>
                                        <td>{{ actividad.get_clase_display }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre de la Actividad</th>
                                    <th scope="col">Tipo de Actividad</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for actividad in perfil.usuario.actividades.rechazado %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ actividad.nombre_actividad }}</td>
                                        <td>{{ actividad.get_clase_display }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-2"></div>
    </div>
{% endblock %}