[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.29"
django-autocomplete-light = "*"
python-magic = "*"
django-auditlog = "*"
django-countries = "*"
django-polymorphic = "*"
pylatex = "*"
django-import-export = "*"
pillow = "*"
xkcdpass = "*"
django-widget-tweaks = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
openpyxl = "*"
factory-boy = "*"
dj-database-url = "*"
pylint-django = "*"
"psycopg2" = "*"


[dev-packages]

sphinx = "*"
pylint = "*"
"autopep8" = "*"
factory-boy = "*"
