{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Iniciar Sesion{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" action="">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Iniciar Sesion</h4>
                        <p>Nombre de Usuario</p>
                        {{ form.username.errors }}
                        <div>{% render_field form.username class="form-control" placeholder="Nombre de Usuario" %}</div>
                        {{ form.username.help_text }}
                        <hr/>
                        {{ form.password.label }}
                        {{ form.username.errors }}
                        <div>{% render_field form.password class="form-control" placeholder="Password" %}</div>
                        {{ form.username.help_text }}
                        <hr/>
                        <button class="btn btn-outline-dark btn-block" type="submit">Iniciar Sesion</button>
                        <p class="card-text">
                            {{ form.non_field_errors }}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}