<div class="table-responsive">
    <table class="table table-bordered" id="trabajos">
        <thead>
        <tr>
            <th>Nombre del Proyecto</th>
            <th>Fecha Entrega</th>
            <th>Fecha Sustentacion</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for trabajo in trabajos %}
            <tr>
                <td>{{ trabajo.nombre_proyecto }}</td>
                <td>{{ trabajo.fecha_entrega }}</td>
                <td>{{ trabajo.fecha_sustentacion }}</td>
                <td>
                    {% if trabajo.estado == "aprobado" %}
                        <a class="btn btn-outline-success" href="#"> {{ trabajo.get_estado_display }}</a>
                    {% endif %}
                    {% if trabajo.estado == "rechazado" %}
                        <a class="btn btn-outline-danger" href="#"> {{ trabajo.get_estado_display }}</a>
                    {% endif %}
                    {% if trabajo.estado == "pendiente" %}
                        <a class="btn btn-outline-primary" href="#"> {{ trabajo.get_estado_display }}</a>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        {# Ver #}<a class="btn btn-outline-primary" href="{{ trabajo.get_absolute_url }}"> Ver</a>
                        {# Editar #}<a class="btn btn-outline-info"
                                       href="{% url 'estudiante:editar-trabajo' trabajo.pk %}"> Editar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>