<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Mi Escuela <i class="far fa-building"></i>
    </a>
    {% if request.user.perfil.escuela %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'ubicacion:escuela' request.user.perfil.escuela.pk %}"><i
                    class="fas fa-chart-pie"></i> Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i> Reportes</a>
            {% if perms.estudiantes.ver_estudiantes %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                   href="{% url 'estudiante:estudiante-escuela' request.user.perfil.escuela.pk %}">Estudiantes
                    <span
                            class="badge badge-pill badge-primary">{{ request.user.perfil.escuela.estudiantes.count }}</span></a>
            {% endif %}

            {% if perms.estudiantes.add_anteproyecto %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                   href="{% url 'estudiante:anteproyecto-escuela' request.user.perfil.escuela.pk %}">Anteproyectos <span
                        class="badge badge-pill badge-primary">{{ request.user.perfil.escuela.anteproyectos.all.count }}</span></a>
            {% endif %}

            {% if perms.estudiantes.add_proyecto %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'estudiante:proyecto-escuela' request.user.perfil.escuela.pk %}">Proyectos
                    <span
                            class="badge badge-pill badge-primary">{{ request.user.perfil.escuela.proyectos.count }}</span></a>
            {% endif %}
        </div>
    {% endif %}
</li>