<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Mi Facultad <i class="far fa-building"></i>
    </a>
    {% if request.user.perfil.unidad %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><b>Inventario</b></a>
            <a class="dropdown-item"
               href="{% url 'inventario:facultad-aulas' request.user.perfil.unidad.pk %}">Aulas
                <span
                        class="badge badge-primary">{{ request.user.perfil.unidad.aula_set.count }}</span></a>
            <a class="dropdown-item"
               href="{% url 'inventario:facultad-equipo' request.user.perfil.unidad.pk %}">Equipos
                <span
                        class="badge badge-primary">{{ request.user.perfil.unidad.equipos.count }}</span></a>
            <a class="dropdown-item" href="#">Profesores</a>
            <a class="dropdown-item" href="#">Estudiantes</a>
            <a class="dropdown-item" href="#">Actividades</a>
            <a class="dropdown-item" href="#">Anteproyectos</a>
            <a class="dropdown-item" href="#">Trabajos de Graduacion</a>
        </div>
    {% endif %}
</li>