<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        {{ request.user.perfil.primer_nombre }} {{ request.user.perfil.primer_apellido }}{% if request.user.is_superuser %}
            <i class="fas fa-user-plus"></i>{% else %} <i class="fas fa-user-circle"></i>{% endif %}
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'perfil:ver' %}">Perfil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'perfil:editar' %}">Editar Perfil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Notificaciones</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'solicitud:propias' %}">Solicitudes</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'actividad:propias' request.user.pk %}">Mis Actividades</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'core:cambiar-password' %}">Cambiar Password</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout/">Cerrar Sesion</a>
    </div>

</li>