<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Pendientes <i class="fas fa-tasks"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {# Actividades de los profesores #}
        {% if request.user.perfil.departamento and perms.actividades.aprobar_actividad %}
            <a class="dropdown-item"
               href="{% url 'actividad:departamento-pendientes' request.user.perfil.departamento.pk %}">Actividades</a>
            <div class="dropdown-divider"></div>
        {% endif %}
        {#  Anteproyectos y Trabajos de Grado #}
        {% if request.user.perfil.escuela and perms.estudiantes.aprobar_anteproyecto %}
            <a class="dropdown-item"
               href="{% url 'estudiante:trabajo-pendiente' request.user.perfil.escuela.pk %}">Anteproyecto</a>
            <div class="dropdown-divider"></div>
        {% endif %}
        {# Solicitud #}
        {% if request.user.is_staff %}
            <a class="dropdown-item" href="{% url 'solicitud:lista' %}">Solicitud</a>
        {% endif %}
    </div>
</li>