<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Mi Departamento <i class="far fa-building"></i>
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item"
           href="{% url 'ubicacion:departamento' request.user.perfil.departamento.pk %}"><i class="fas fa-chart-pie"></i> Dashboard</a>

        {% if perms.ubicacion.ver_departamento %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i> Reportes</a>
        {% endif %}


        {% if perms.ubicacion.ver_profesores_departamento %}
        <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{% url 'perfil:profesores-departamento' request.user.perfil.departamento.pk %}">Profesores
                <span
                        class="badge badge-pill badge-primary">{{ request.user.perfil.departamento.personal.profesores.count }}</span></a>
        {% endif %}


        {% if perms.ubicacion.ver_actividades_departamento %}
        <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'actividad:departamento' request.user.perfil.departamento.pk %}">Actividades
                <span
                        class="badge badge-pill badge-primary">{{ request.user.perfil.departamento.actividades.count }}</span></a>
        {% endif %}
    </div>
</li>