<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        Mi Departamento <i class="far fa-building"></i>
    </a>
    {% if request.user.perfil.departamento %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Dashboard</a>

            {% if perms.ubicacion.ver_reporte_departamento %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Reportes</a>
            {% endif %}

            {% if perms.perfil.ver_departamento %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'perfil:lista' %}">Profesores <span
                        class="badge badge-primary">{{ request.user.perfil.departamento.personal.profesores.count }}</span></a>
            {% endif %}

            {% if perms.actividades.ver_departamento %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'actividad:departamento' request.user.perfil.departamento.pk %}">Actividades <span
                        class="badge badge-primary">{{ request.user.perfil.departamento.actividades.count }}</span></a>
            {% endif %}

        </div>
    {% endif %}
</li>