{% extends 'base.html' %}

{% block head %}
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}


{% block title %}Consultar Estudiante{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Estudiantes
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de Estudiantes</h4>
                    <table class="table table-bordered" id="estudiantes">
                        <thead>
                        <tr>
                            <th>Cedula</th>
                            <th scope="col">Nombre del Estudiante</th>
                            <th scope="col">Carrera</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for estudiante in estudiantes %}
                            <tr>
                                <td>{{ estudiante.provincia }}-{{ estudiante.clase }}-{{ estudiante.tomo }}-{{ estudiante.folio }}</td>
                                <td>{{ estudiante.primer_apellido|title }}, {{ estudiante.primer_nombre|title }}</td>
                                <td>{{ estudiante.carrera.carrera.nombre|title }}</td>
                                <td><a href="{{ estudiante.get_absolute_url }}" class="btn btn-sm btn-link"><i
                                        class="fa fa-search"></i> Ver</a>
                                    <a href="{% url 'estudiante:editar' estudiante.pk %}"
                                       class="btn btn-sm btn-light"><i class="fa fa-edit"></i> Editar</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#estudiantes').DataTable();
        });
    </script>
{% endblock %}
