{% extends 'base.html' %}

{% block head %}
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Informacion del estudiante -->
    <div class="row">
        <div class="container-fluid">
            <div class="card-deck">


                <!-- Informacion Personal-->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ estudiante.primer_apellido }}, {{ estudiante.primer_nombre }}
                            | {{ estudiante.provincia }}-{{ estudinate.clase }}-{{ estudiante.tomo }}-{{ estudiante.folio }}</h4>
                        <ul class="list-group">
                            <li class="list-group-item">Direccion: {{ estudiante.direccion }}</li>
                            <li class="list-group-item">Sexo: {{ estudiante.get_sexo_display }}</li>
                            <li class="list-group-item">Telefono: {{ estudiante.telefono }}</li>
                            <li class="list-group-item">Tipo de Sangre: {{ estudiante.get_tipo_sangre_display }}</li>
                            <li class="list-group-item">Discapacidades: {{ estudiante.discapacidad|safe }}</li>
                        </ul>
                    </div>
                </div>

                <!-- Informacion Academica-->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Informacion Academica</h4>
                        <hr/>
                        <ul class="list-group">
                            <li class="list-group-item">Codigo de Carrera: {{ estudiante.cod_sede }}-{{ estudiante.cod_facultad }}-{{ estudiante.cod_escuela }}-{{ estudiante.cod_carrera }}</li>
                            <li class="list-group-item">Turno: {{ estudiante.get_turno.display }}</li>
                            <li class="list-group-item">Fecha de Ingreso: {{ estudiante.fecha_ingreso }}</li>
                            <li class="list-group-item">Semestre Actual: {{ estudiante.get_semestre_display }}</li>
                            <li class="list-group-item">Ultimo Anio Matriculado: {{ estudiante.ultimo_anio }}</li>
                            <li class="list-group-item">Ultimo Semestre: {{ estudiante.ultimo_semestre }}</li>
                            <li class="list-group-item">Fecha de Graduacion: {{ estudiante.fecha_graduacion }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Anteproyectos y Trabajos de Graduacion -->
    <div class="row top-buffer">
        <div class="container-fluid">
            <!--Anteproyecto-->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Trabajos de Graduacion</h4>
                    {% if estudiante.proyectos %}
                        <table class="table table-bordered" id="trabajos">
                            <thead>
                            <tr>
                                <th>Nombre del Proyecto</th>
                                <th>Fecha Entrega</th>
                                <th>Fecha Sustentacion</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for trabajo in estudiante.proyectos.all %}
                                <tr>
                                    <td>{{ trabajo.nombre_proyecto }}</td>
                                    <td>{{ trabajo.fecha_entrega }}</td>
                                    <td>{{ trabajo.fecha_sustentacion }}</td>
                                    <td>
                                        {% if trabajo.estado == "aprobado" %}
                                            <a class="btn btn-outline-success"
                                               href="#"> {{ trabajo.get_estado_display }}</a>
                                        {% endif %}
                                        {% if trabajo.estado == "rechazado" %}
                                            <a class="btn btn-outline-danger"
                                               href="#"> {{ trabajo.get_estado_display }}</a>
                                        {% endif %}
                                        {% if trabajo.estado == "pendiente" %}
                                            <a class="btn btn-outline-primary"
                                               href="#"> {{ trabajo.get_estado_display }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            {# Ver #}<a class="btn btn-outline-primary"
                                                        href="{{ trabajo.get_absolute_url }}"> Ver</a>
                                            {# Editar #}<a class="btn btn-outline-info"
                                                           href="{% url 'estudiante:editar-trabajo' trabajo.pk %}">
                                            Editar</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">No tiene trabajos registrados</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#trabajos').DataTable();
        });
    </script>
{% endblock %}

