{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    {{ carrera.cod_sede }}-{{ carrera.cod_facultad }}-{{ carrera.cod_escuela }}-{{ carrera.cod_carrera }}
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"
            integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'ubicacion:carreras' %}">Carreras</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">{{ carrera.carrera.nombre.capitalize }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ carrera.carrera.nombre.capitalize }} {{ carrera.carrera.get_tipo_display }}
                            : {{ carrera.cod_sede }}-{{ carrera.cod_facultad }}-{{ carrera.cod_escuela }}-{{ carrera.cod_carrera }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Cantidad de Estudiantes</div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h3 class="text-right">{{ carrera.estudiantes.all.count }}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Cantidad de Anteproyectos</div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h3 class="text-right">{{ carrera.anteproyectos.all.count }}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Cantidad de Proyectos</div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h3 class="text-right">{{ carrera.proyectos.all.count }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {#    Graficas    #}

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" id="carrera-anteproyecto">
                        Anteproyectos por Estado
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="card-body">
                            <canvas id="anteproyectosChart"
                                    data-url="{% url 'ubicacion:carrera-anteproyectos' carrera.pk %}"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" id="carrera-proyectos">Proyectos por
                        Categoria
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="card-body">
                            <canvas id="proyectosChart"
                                    data-url="{% url 'ubicacion:carrera-proyectos' carrera.pk %}"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascript %}
{% endblock %}