{% extends 'base.html' %}

{% block title %}
    {{ seccion.cod_sede }}-{{ seccion.cod_facultad }}-{{ seccion.cod_escuela }}
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"
            integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                           {{ seccion.seccion.get_tipo_display }} : {{ seccion.cod_sede }}-{{ seccion.cod_facultad }}-{{ seccion.cod_escuela }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Cantidad de Profesores</div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h3 class="text-right">{{ seccion.personal.profesores.count }}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Cantidad de Actividades</div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h3 class="text-right">{{ seccion.actividades.all.count }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {#    Graficas    #}

        <div class="row top-buffer">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-url="">Profesores por Nivel Academico</div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-url="">Actividades por Tipo</div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-url="">Actividades Realizadas</div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascript %}
{% endblock %}