{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ departamento.cod_sede }}-{{ departamento.cod_facultad }}-{{ departamento.cod_departamento }}
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"
            integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'ubicacion:departamentos' %}">Departamentos</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">{{ departamento.departamento.nombre.capitalize }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ departamento.departamento.nombre }}
                            : {{ departamento.cod_sede }}-{{ departamento.cod_facultad }}-{{ departamento.cod_departamento }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Cantidad de Profesores</div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h3 class="text-right">{{ departamento.personal.profesores.count }}</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Cantidad de Actividades</div>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <h3 class="text-right">{{ departamento.actividades.all.count }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {#    Graficas    #}

        <div class="row top-buffer">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-url="">Profesores por Nivel Academico</div>
                    
                        <h4 class="card-title"></h4>
                        <div class="card-body">
                            <canvas id="profesoresChart" data-url="{% url 'ubicacion:departamento-profesores' departamento.pk %}"></canvas>
                        </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-url="">Actividades Aprobadas por Tipo</div>
                    
                        <h4 class="card-title"></h4>
                        <div class="card-body">
                            <canvas id="tipoChart" data-url="{% url 'ubicacion:departamento-actividades' departamento.pk %}"></canvas>
                        </div>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-url="">Actividades por Estado</div>
                    
                        <h4 class="card-title"></h4>
                        <div class="card-body">
                            <canvas id="estadoChart" data-url="{% url 'ubicacion:departamento-actividades-estado' departamento.pk %}"></canvas>
                        </div>
                    
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'ubicacion/js/grafica_departamento.js' %}"></script>
{% endblock %}