{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"
            integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'ubicacion:sedes' %}">Sedes</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ sede.nombre }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 top-buffer">
                <div class="card">
                    <div class="card-header">
                        Cantidad de Facultades
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3 class="text-right">{{ sede.facultades.count }}</h3></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 top-buffer">
                <div class="card">
                    <div class="card-header">
                        Cantidad de Escuelas
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3 class="text-right">{{ sede.escuelas.count }}</h3></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 top-buffer">
                <div class="card">
                    <div class="card-header">
                        Cantidad de Departamentos
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3 class="text-right">{{ sede.departamentos.count }}</h3></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 top-buffer">
                <div class="card">
                    <div class="card-header">
                        Cantidad de Carreras
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3 class="text-right">{{ sede.carreras.count }}</h3></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 top-buffer">
                <div class="card">
                    <div class="card-header">
                        Profesores por facultad
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3 class="text-right">
                            <canvas id="profesorChart"
                                    data-url="{% url 'ubicacion:profesores-sede' sede.pk %}"></canvas>
                        </h3>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 top-buffer">
                <div class="card">
                    <div class="card-header">
                        Estudiantes por Facultad
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3 class="text-right" id="estudianteChartHolder">
                            <canvas id="estudianteChart"
                                    data-url="{% url 'ubicacion:estudiantes-sede' sede.pk %}"></canvas>
                        </h3>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row top-buffer">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Estudiantes y Profesores por Facultad
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3 class="text-right">
                            <canvas id="personasChart"></canvas>
                        </h3>
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function randomRGB() {
            var colores = [];
            var r = Math.floor(Math.random() * 256);
            var g = Math.floor(Math.random() * 256);
            var b = Math.floor(Math.random() * 256);
            colores.push('rgb(' + r + ',' + g + ',' + b + ')');  // Centro
            colores.push('rgba(' + r + ',' + g + ',' + b + ',' + 0.5 + ')'); // Borde
            return colores;
        }

        var estudiantectx = document.getElementById("estudianteChart");
        var estudiante_url = estudiantectx.getAttribute("data-url");
        var estudiantes_info = {
            "etiquetas": [],
            "datos": []
        };

        var profesorctx = document.getElementById('profesorChart');
        var profesor_url = profesorctx.getAttribute("data-url");
        var profesores_info = {
            "etiquetas": [],
            "datos": []
        };

        var personasctx = document.getElementById('personasChart');
        // personasctx.height = 10;
        // personasctx.width = 10; 

        var estData = '';
        var profData = '';

        window.onload = function () {

            // Grafica Estudiante
            $.ajax({
                url: estudiante_url,
                type: 'GET',
                dataType: 'json',
                success: function (info) {
                    var estudiantedata = info;
                    for (var facultad in estudiantedata) {
                        estudiantes_info["etiquetas"].push(facultad);
                        estudiantes_info["datos"].push(estudiantedata[facultad]);
                    }

                    var colores = randomRGB();
                    var estudianteChartData = {
                        labels: estudiantes_info["etiquetas"],
                        datasets: [{
                            label: 'Estudiantes',
                            backgroundColor: colores[1],
                            borderColor: colores[0],
                            borderWidth: 1,
                            data: estudiantes_info["datos"]
                        }]
                    };

                    estData = estudianteChartData['datasets'][0];

                    window.myBar = new Chart(estudiantectx, {
                        type: 'bar',
                        data: estudianteChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top'
                            },
                            title: {
                                display: true,
                                text: 'Estudiantes por Facultad'
                            },
                            scales: {
                                yAxes: [{
                                    beginAtZero: true
                                }]
                            }
                        }
                    });
                }
            });

            // Grafica Profesor
            $.ajax({
                url: profesor_url,
                type: 'GET',
                dataType: 'json',
                success: function (info) {
                    var profesordata = info;
                    for (var facultad in profesordata) {
                        profesores_info["etiquetas"].push(facultad);
                        profesores_info["datos"].push(profesordata[facultad]);
                    }

                    var colores = randomRGB();
                    var profesorChartData = {
                        labels: profesores_info["etiquetas"],
                        datasets: [{
                            label: "Profesores",
                            backgroundColor: colores[1],
                            borderColor: colores[0],
                            borderWidth: 1,
                            data: profesores_info["datos"]
                        }]
                    };

                    profData = profesorChartData["datasets"][0];


                    window.myBar = new Chart(profesorctx, {
                        type: 'bar',
                        data: profesorChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top'
                            },
                            title: {
                                display: true,
                                text: 'Profesores por Facultad'
                            }
                        }
                    });

                    console.log(estData);
                    console.log(profData);
                    var personasChartData = {
                        labels: estudiantes_info["etiquetas"],
                        datasets: [estData, profData]
                    };

                    window.myBar = new Chart(personasctx, {
                        type: 'bar',
                        data: personasChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top'
                            },
                            title: {
                                display: true,
                                text: 'Relacion Estudiantes/Profesor por Facultad'
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                        }
                                        }]
                                        }
                        }
                    });
                }
            });


        }; 
    </script>

    <script>
        // function randomRGB() {
        //     var colores = [];
        //     var r = Math.floor(Math.random() * 256);
        //     var g = Math.floor(Math.random() * 256);
        //     var b = Math.floor(Math.random() * 256);
        //     colores.push('rgb(' + r + ',' + g + ',' + b + ')');  // Centro
        //     colores.push('rgba(' + r + ',' + g + ',' + b + ',' + 0.5 + ')'); // Borde
        //     return colores;
        // }

        // var chart_data = {};
        // var etiquetas = [];
        // var datos = [];
        // var chartData = {};
        // var chartDataSet = [];
        // var ctx = document.getElementById("estudianteChart");
        // var dataUrl = estudiantectx.getAttribute("data-url");

        // // Adquirir los datos.
        // $.ajax({
        //     url: dataUrl,
        //     type: "GET",
        //     dataType: 'json',
        //     success: function(info){
        //         etiquetas = info["etiquetas"];
        //         datos = info["datos"];
        //     }
        // });

        // // Asignar las etiquetas. Ej. ["Computadoras", "Laptops", "Teclados"]
        // chart_data["labels"] = etiquetas;
        // colores = randomRGB();
        // for(dato in datos){
        //     dataset = {
        //         "label": "",
        //         "data": dato,
        //         backgroundColor: [colores[0]],
        //         borderColor: [colores[1]],
        //         borderWidth: 1
        //     };
        //     chartDataSet.push(dataset);
        // }
        // chart_data["datasets"] = chartDataSet;
        // // Crear la grafica
        // window.myBar = new Chart(ctx, {
        //     type: "bar",
        //     data: chartDataSet,
        //     options: {
        //         responsive: true,
        //         legend: {
        //             position: 'top'
        //         },
        //         title: {
        //             display: true,
        //             text: ""
        //         }
        //     }
        // });
    </script>
{% endblock %}