{% extends 'base.html' %}

{% block head %}
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block title %}Consultar - Sedes{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sedes</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Consulta de Sedes</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="sedes">
                            <thead>
                            <tr>
                                <th>Codigo de Sede</th>
                                <th>Nombre de la Sede</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sede in sedes %}
                                <tr>
                                    <th>{{ sede.cod_sede }}</th>
                                    <th>{{ sede.nombre.capitalize }}</th>
                                    <th><a href="{% url 'ubicacion:sede'   sede.pk %}" class="btn btn-outline-info">Ver
                                        Detalle</a></th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sedes').DataTable();
        });
    </script>
{% endblock %}