{% extends 'base.html' %}

{% block title %}Equipo{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ equipo.etiqueta }}</h4>
                    <div class="card-body">
                        Modelo: {{ equipo.modelo.fabricante.nombre }} {{ equipo.modelo.nombre }}
                        <hr/>
                        Anotaciones: {{ equipo.observaciones|safe }}
                    </div>
                </div>
                <div class="card-footer text-right">
                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-primary" href="{% url 'inventario:lista-equipo' %}">Ver Otros</a>
                    {% else %}
                        <a class="btn btn-outline-primary"
                           href="{% url 'inventario:facultad-equipo' request.user.perfil.unidad.pk %}">Ver Otros</a>
                    {% endif %}
                    <a class="btn btn-outline-info" href="{% url 'inventario:editar-equipo' equipo.pk %}">Editar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}