{% extends 'base.html' %}

{% block title %}Lista Fabricantes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de Fabricantes</h4>
                    <table class="table">
                        {% if fabricantes %}
                            <tbody>
                            {% for fabricante in fabricantes %}
                                <tr>
                                    <td>{{ fabricante.nombre }}</td>
                                    <td><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> </a>
                                        {% if fabricante.url %}
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-link"></i> Fabricante </a>
                                        {% else %}
                                        <a href="#" class="btn disabled"><i class="fas fa-link"></i> Fabricante</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <div class="alert alert-info text-center">No hay fabricantes registradas</div>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}