{% extends 'base.html' %}

<p class="card-text"></p>
{% block title %}{{ actividad.clase }} - {{ actividad.nombre_actividad }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ actividad.get_clase_display.capitalize }}: {{ actividad.nombre_actividad }}</h4>
                    <p class="card-text"><b>Realizado</b>
                        por: {{ actividad.usuario.perfil.primer_apellido }}, {{ actividad.usuario.perfil.primer_nombre }}
                        - {{ actividad.usuario.perfil.codigo }}</p>
                    {% if request.user == actividad.usuario or perms.actividades.aprobar_actividad and request.user.perfil.departamento == actividad.departamento %}
                        <p class="card-text"><b>Estado</b>: {{ actividad.get_estado_display }}</p>
                    {% endif %}
                    <p class="card-text"><b>Fecha:</b> {{ actividad.fecha }}</p>
                    {#   Campos Especificos   #}
                    {% if actividad.lugar %}
                        <p class="card-text"><b>Lugar</b>: {{ actividad.lugar }}</p>
                    {% endif %}
                    {% if actividad.duracion %}
                        <p class="card-text"><b>Duracion</b>: {{ actividad.duracion }} Dias</p>
                    {% endif %}
                    {% if actividad.tipo %}
                        <p class="card-text"><b>Tipo de publicacion</b>: {{ actividad.get_tipo_display }}</p>
                    {% endif %}
                    {% if actividad.lugar_publicacion %}
                        <p class="card-text"><b>Lugar de Publicacion</b>: {{ actividad.lugar_publicacion }}</p>
                    {% endif %}
                    {% if actividad.codigo %}
                        <p class="card-text"><b>Codigo de Investigacion</b>: {{ actividad.codigo }}</p>
                    {% endif %}
                    {% if actividad.isbn %}
                        <p class="card-text"><b>Codigo ISBN</b>: {{ actividad.isbn }}</p>
                    {% endif %}
                    {% if actividad.editorial %}
                        <p class="card-text"><b>Editorial</b>: {{ actividad.editorial }}</p>
                    {% endif %}
                    {% if actividad.pais %}
                        <p class="card-text"><b>Pais</b>: {{ actividad.pais }}</p>
                    {% endif %}
                    {% if actividad.info_titulo %}
                        <p class="card-text"><b>Nombre del Titulo</b>: {{ actividad.info_titulo }}</p>
                    {% endif %}
                    {% if actividad.centro_estudio %}
                        <p class="card-text"><b>Centro de Estudio</b>: {{ actividad.centro_estudio }}</p>
                    {% endif %}
                    {% if actividad.resumen %}
                        <hr/>
                        <p class="card-text"><b>Resumen</b>: {{ actividad.resumen|safe }}</p>
                    {% endif %}
                    {% if request.user == actividad.usuario %}
                        <hr/>
                        <p class="card-text"><b>Motivo de Rechazo</b>: {{ actividad.motivo_rechazo|safe }}</p>
                        <hr/>
                    {% endif %}
                </div>
                <div class="card-footer text-right">
                    <div class="btn-group">
                        {% if perms.actividades.aprobar_actividad %}
                            <form method="post" action="{% url 'actividad:aprobar' actividad.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success"><i
                                        class="fas fa-check-circle"></i>
                                    Aprobar
                                </button>
                            </form>
                            <hr/>
                            {#  TODO: Agregar Permiso de Rechazo de Actividad #}
                            <a class="btn btn-outline-danger"
                               href="{% url 'actividad:rechazar' actividad.pk %}"><i class="fas fa-times-circle"></i>
                                Rechazar</a>
                        {% endif %}
                        <a href="{{ actividad.get_edit_url }}" class="btn btn-outline-info"><i class="fa fa-edit"></i>
                            Editar</a>
                        <a href="/media/{{ actividad.archivo }}" class="btn btn-outline-primary" download=""><i
                                class="fa fa-file"></i> Documento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}