{% extends 'base.html' %}

{% block title %}
    Detalle de Actividad
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ actividad.nombre_actividad.capitalize }}</h4>
                    {% if actividad.resumen %}<p class="card-text">Resumen: {{ actividad.resumen|safe }}</p>{% endif %}
                    {#                    <p class="card-text">Archivo</p>#}
                    <p class="card-text">Fecha: {{ actividad.fecha }}</p>
                    <p class="card-text"><a href="/media/{{ actividad.archivo }}" class="btn btn-outline-info"><i
                            class="fa-file-archive-o"></i> Descargar Archivo</a></p>
                    <ul class="list-group list-group-flush">
                        {% if request.user == actividad.usuario or request.user.perfil.seccion == actividad.ubicacion and perms.actividad.aprobar_actividad %}
                            {% if actividad.estado %}
                                <li class="list-group-item">Estado: {{ actividad.get_estado_display }}</li>{% endif %}
                            {% if actividad.motivo_rechazo %}
                                <li class="list-group-item">Motivo de Rechazo{{ actividad.motivo_rechazo }}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn btn-outline-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}