{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Estadia{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registrar Estadia</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        <div class="container">
                            {% for field in form.visible_fields %}
                                <div>
                                    {{ field.errors }}
                                    {% render_field field class="form-control" %}
                                    {{ field.help_text }}
                                </div>
                                <hr/>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Registrar Estadia</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.4/tinymce.min.js"></script>
    <script>
        $(function () {
            $("#id_fecha").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
    <script>
        tinymce.init({
            selector: '#id_resumen'
        });
    </script>
    {{ form.media }}
{% endblock %}