{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Usuarios de Prueba</h3>
                    <h5 class="card-subtitle">Usuario - Password</h5>
                    <p class="card-text">Estos usuarios estan relacionados con la sede, facultad, escuela y
                        departamentos de prueba con los permisos correspondientes</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">pruebas - test2018</li>
                    <li class="list-group-item">profesor - teach2018</li>
                    <li class="list-group-item">departamento - dpto2018</li>
                    <li class="list-group-item">escuela - schl2018</li>
                    <li class="list-group-item">comision - comit2018</li>
                    <li class="list-group-item">decano - dean2018</li>
                    <li class="list-group-item">administrativo - admi2018</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}