{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Conferencia{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cambiar Password</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-block btn-primary">Cambiar Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var bs_form_class = "form-control";
        var old_password = document.getElementById("id_old_password");
        var new_password1 = document.getElementById("id_new_password1");
        var new_password2 = document.getElementById("id_new_password2");

        old_password.classList.add(bs_form_class);
        new_password1.classList.add(bs_form_class);
        new_password2.classList.add(bs_form_class);

    </script>
{% endblock %}