{% extends 'base.html' %}

{% block title %}Registrar Anteproyecto{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registrar Equipo</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.4/tinymce.min.js"></script>
    {{ form.media }}
    <script>

        tinymce.init({
            selector: '#id_detalle'
        });

        $(".custom-file-input").wrapAll("<div class='custom-file' />")
    </script>
{% endblock %}