{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-8 offset-2 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h4>Solicitudes Pendientes</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Titulo</th>
                                <th>Fecha Creacion</th>
                                <th>Fecha de Ultimo Comentario</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for solicitud in solicitudes %}
                                <tr>
                                    <td>{{ solicitud.usuario.get_full_name }}</td>
                                    <td>{{ solicitud.titulo }}</td>
                                    <td>{{ solicitud.fecha_creacion }}</td>
                                    <td>{{ solicitud.fecha_modificacion }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}