{% extends 'base.html' %}

{% block title %}Solicitudes Pendientes{% endblock %}

{% block head %}
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Solicitudes Pendientes</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h4>Solicitudes Pendientes</h4>
                    
                        <hr>
                        {% if solicitudes %}
                            <table class="table table-bordered" id="solicitudes">
                                <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Titulo</th>
                                    <th>Fecha Creacion</th>
                                    <th>Fecha de Ultimo Comentario</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for solicitud in solicitudes %}
                                    <tr>
                                        <td>{{ solicitud.usuario }}</td>
                                        <td>{{ solicitud.titulo }}</td>
                                        <td>{{ solicitud.fecha_creacion }}</td>
                                        <td>{{ solicitud.fecha_modificacion }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-outline-info"
                                                   href="{{ solicitud.get_absolute_url }}">Ver</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-info text-center">No hay solicitudes pendientes</div>
                        {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#solicitudes').DataTable();
        });
    </script>
{% endblock %}