{% extends 'base.html' %}

{% block title %}Lista Modelos{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de Aulas</h4>
                    <p class="card-text"><a class="btn btn-primary" href="{% url 'inventario:crear-aulas' %}"><i
                            class="fa fa-edit"></i> Registrar</a></p>
                    <table class="table">
                        {% if aulas %}
                            <tbody>
                            {% for aula in aulas %}
                                <tr>
                                    <td>{{ aula }}</td>
                                    <td><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> </a>
                                        {% if aula.url %}
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-link"></i>
                                                Aula </a>
                                        {% else %}
                                            <a href="#" class="btn disabled"><i class="fas fa-link"></i> Aula</a>
                                        {% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <div class="alert alert-info text-center">No hay aulas registradas</div>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}