{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Sistema SIGIA{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {#    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">#}
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
<!-- wrapper -->
<div class="wrapper">

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'core:index' %}">SIGIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {#  Consultas  #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Consultar <i class="fas fa-search"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'ubicacion:sedes' %}">Sedes</a>
                        <a class="dropdown-item" href="{% url 'ubicacion:unidades' %}">Facultades</a>
                        <a class="dropdown-item" href="{% url 'ubicacion:secciones' %}">Escuelas</a>
                        <a class="dropdown-item" href="{% url 'ubicacion:carreras' %}">Carreras</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'perfil:lista' %}">Profesor</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'estudiante:lista' %}">Estudiantes</a>
                    </div>
                </li>

                <!-- Consultas -->
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button">
                            Reportes <i class="fas fa-file"></i>
                        </a>
                    </li>
                {% endif %}

                {# Registro #}
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Registrar <i class="fas fa-pen-square"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {# Actividades de los profesores TODO: arar los permisos para la creacion de#}
                            <a class="dropdown-item" href="#"><b>Actividad</b></a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-estadia' %}">Estadia Postdoctorla</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-publicacion' %}">Publicacion</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-investigacion' %}">Investigacion</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-libro' %}">Libro</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-conferencia' %}">Conferencia</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-ponencia' %}">Ponencia</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-proyecto' %}">Proyecto</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-premio' %}">Premio</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-idioma' %}">Idioma</a>
                            <a class="dropdown-item" href="{% url 'actividad:crear-titulo' %}">Titulo</a>
                            <div class="dropdown-divider"></div>
                            {#  Anteproyectos y Trabajos de Grado #}
                            <a class="dropdown-item" href="#"><b>Anteproyecto y Trabajo de Grado</b></a>
                            <a class="dropdown-item" href="{% url 'estudiante:crear-anteproyecto' %}">Anteproyecto</a>
                            <a class="dropdown-item" href="{% url 'estudiante:crear-proyecto' %}">Trabajo de Grado</a>
                            <div class="dropdown-divider"></div>
                            {#  Inventario #}
                            <a class="dropdown-item" href="#"><b>Inventario</b></a>
                            <a class="dropdown-item" href="{% url 'inventario:crear-equipo' %}">Equipo</a>
                            <div class="dropdown-divider"></div>
                            {# Solicitud #}
                            <a class="dropdown-item" href="#"><b>Solicitudes</b></a>
                            <a class="dropdown-item" href="{% url 'solicitud:crear' %}">Solicitud</a>
                        </div>
                    </li>
                {% endif %}


                {# Listados #}
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Pendientes <i class="fas fa-tasks"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {# Actividades de los profesores TODO: Agregar los permisos para la creacion de#}
                            <a class="dropdown-item" href="{% url 'actividad:pendientes' %}">Actividades</a>
                            <div class="dropdown-divider"></div>
                            {#  Anteproyectos y Trabajos de Grado #}
                            <a class="dropdown-item" href="#">Anteproyecto</a>
                            <div class="dropdown-divider"></div>
                            {# Solicitud #}
                            <a class="dropdown-item" href="{% url 'solicitud:lista' %}">Solicitud</a>
                        </div>
                    </li>
                {% endif %}
            </ul>


            {#  Navbar en la Derecha #}
            <ul class="navbar-nav mr-4">
                {% if request.user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Utilidades <i class="fas fa-wrench"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/">Admin</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><b>Mis Solicitudes</b></a>
                            <a class="dropdown-item" href="#">Pendientes</a>  <!--TODO: Crear vista -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><b>Inventario</b></a>
                            <a class="dropdown-item" href="{% url 'inventario:fabricante-lista' %}">Fabricantes</a>
                            <a class="dropdown-item" href="{% url 'inventario:categoria-lista' %}">Categorias</a>
                            <a class="dropdown-item" href="{% url 'inventario:modelo-lista' %}">Modelos</a>
                            <a class="dropdown-item" href="{% url 'inventario:lista-aulas' %}">Aulas</a>
                        </div>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {{ request.user.get_full_name }}{% if request.user.is_superuser %}
                                <i class="fas fa-user-plus"></i>{% else %}<i class="fas fa-user-circle"></i>{% endif %}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'perfil:ver' %}">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'perfil:editar' %}">Editar Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Notificaciones</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout/">Cerrar Sesion</a>
                        </div>


                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="login">Iniciar Sesion</a>
                    </li>
                {% endif %}

            </ul>
            {#  Fin del Navbar #}
        </div>
    </nav>
    <!-- /Navbar -->

    <!-- Content -->
    <div class="content">
        {% if messages %}
            <div class="row">
                <div class="col-10 offset-1">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        {% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="container jumbo-test">
                        <div class="jumbotron">
                            <h1 class="display-3">{% block jumbotron-title %}Bienvenido al Sistema
                                SIGIA!{% endblock %}</h1>
                            <p class="lead">{% block jumbotron-subtitle %}Lorem Ipsum{% endblock %}</p>
                            <hr class="my-4">
                            <p>{% block jumbotron-content %}It uses utility classes for typography and spacing to space
                                content out within the larger
                                container.{% endblock %}</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}


    </div>
    <!-- End Content -->

    <!-- /wrapper -->
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
</body>

</html>