{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <title>SIGIA - {% block title %}Sistema SIGIA{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {#    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">#}
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'core:index' %}">SIGIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {#  Consultas  #}
                {% include 'includes/header/partial_search_dropdown.html' %}
                <!-- Consultas -->

                {# Listados #}
                {% if request.user.is_staff or perms.actividades.aprobar_actividad or perms.actividades.estudiantes.aprobar_anteproyecto %}
                    {% include 'includes/header/partial_director_departamento_dropdown.html' %}
                {% endif %}
            </ul>

            {#  Navbar en la Derecha #}
            <ul class="navbar-nav mr-4">
                {% if request.user.is_superuser %}
                    {% include 'includes/header/partial_admin_utils_dropdown.html' %}
                {% endif %}

                {% if request.user.perfil.unidad %}
                    {% include 'includes/header/partial_unidad_dropdown.html' %}
                {% endif %}

                {% if request.user.is_authenticated %}
                    {% include 'includes/header/partial_accounts_dropdown.html' %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Iniciar Sesion</a>
                    </li>
                {% endif %}

            </ul>
            {#  Fin del Navbar #}
        </div>
    </nav>
    <!-- /Navbar -->

    <!-- Content -->
    <div class="content">
        {% if messages %}
            <div class="row">
                <div class="col-10 offset-1">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container-fluid">
        {% block content %}
            <div class="row">
            <div class="col-md-12">
                <div class="container jumbo-test">
                    <div class="jumbotron">
                        <h1 class="display-3">{% block jumbotron-title %}Bienvenido al Sistema
                            SIGIA!{% endblock %}</h1>
                        <p class="lead">{% block jumbotron-subtitle %}Lorem Ipsum{% endblock %}</p>
                        <hr class="my-4">
                        <p>{% block jumbotron-content %}It uses utility classes for typography and spacing to space
                            content out within the larger
                            container.{% endblock %}</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Apender Mas</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>


    </div>
    <!-- End Content -->

    <!-- /wrapper -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
</body>
</html>