{% extends 'base.html' %}

{% block title %}Registrar Anteproyecto{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registrar Anteproyecto</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formatos de Codigo de Carrera</h4>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Escuela</th>
                    </tr>
                    </thead>
                    {% for carrera in request.user.perfil.escuela.carreras.all %}
                    <tr>
                        <td>{{ carrera.cod_carrera }}</td>
                        <td>{{ carrera.carrera.nombre }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.4/tinymce.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{{ form.media }}
<script>
    $(document).ready(function () {

        $('#id_asesor').select2({
            width: '100%'
        });

        $('#id_estudiante').select2({
            width: '100%'
        });

        tinymce.init({
            selector: '#id_resumen',
        });
    });
</script>
{% endblock %}