{% extends 'base.html' %}

<p class="card-text"></p>
{% block title %}{{ anteproyecto.nombre_proyecto.capitalize }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <div class="card">
                <div class="card-header">{{ anteproyecto.nombre_proyecto }}</div>
                <div class="card-body">
                    <ul class="list-group">
                        <h4 class="card-subtitle">Estudiantes</h4>
                        {% for estudiante in anteproyecto.estudiante.all %}
                            <li class="list-group-item">{{ estudiante }}</li>
                        {% endfor %}
                    </ul>
                    {% if anteproyecto.resumen %}
                        <hr/>
                        <h4 class="card-subtitle">Resumen</h4>
                        <p class="card-text">{{ anteproyecto.resumen|safe }}</p>
                    {% endif %}
                    <p class="card-text">
                        {% if anteproyecto.estado == 'aprobado' %}
                            <hr>
                            <div class="alert alert-success" role="alert">
                                Aprobado
                            </div>
                        {% elif anteproyecto.estado == 'pendiente' %}
                            <div class="alert alert-primary" role="alert">
                                Pendiente
                            </div>
                        {% elif anteproyecto.estado == 'rechazado' %}
                            <div class="alert alert-warning" role="alert">
                                Rechazado
                            </div>
                        {% endif %}
                    </p>
                    <hr/>
                    <p class="card-text"><a href="/media/{{ anteproyecto.archivo }}"
                                            class="btn btn-outline-primary"><span
                            class="fa fa-file"></span> Archivo</a></p>
                </div>
                <div class="card-footer text-right">
                    <div class="btn-group">
                        <a class="btn btn-outline-info"
                           href="{% url 'estudiante:editar-anteproyecto' anteproyecto.pk %}"><span
                                class="fa fa-edit"></span> Editar</a>
                        <form method="post">{% csrf_token %}
                            <a class="btn btn-outline-success"
                               href="{% url 'estudiante:aprobar-anteproyecto' anteproyecto.pk %}"><span
                                    class="fa fa-check"></span> Aprobar</a></form>
                        {% if anteproyecto.estado != 'aprobado' %}
                            <a class="btn btn-outline-danger" href="#"><span class="fa fa-eraser"></span>
                                Rechazar</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}