{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block title %}Registrar Trabajo de Graduacion{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registrar Datos de Trabajo de Graduacion</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}

                        {#                        {{ form.as_p }}#}
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-anteproyecto-tab" data-toggle="pill"
                                   href="#pills-anteproyecto"
                                   role="tab" aria-controls="pills-anteproyecto" aria-selected="true">Anteproyecto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-trabajo-tab" data-toggle="pill" href="#pills-trabajo"
                                   role="tab" aria-controls="pills-trabajo" aria-selected="false">Trabajo de
                                    Graduacion</a>
                            </li>
                            <li class="nav-item">
                        </ul>


                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-anteproyecto" role="tabpanel"
                                 aria-labelledby="pills-anteproyecto-tab">
                                <div class="form-group">
                                    {{ form.nombre_proyecto.label_tag }}
                                    {{ form.nombre_proyecto }}
                                    {% if form.nombre_proyecto.help_text %}
                                        <small class="form-text text-muted">{{ form.nombre_proyecto.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.programa.label_tag }}
                                    {{ form.programa }}
                                    {% if form.programa.help_text %}
                                        <small class="form-text text-muted">{{ form.programa.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.cod_carrera.label_tag }}
                                    {{ form.cod_carrera }}
                                    {% if form.cod_carrera.help_text %}
                                        <small class="form-text text-muted">{{ form.cod_carrera.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.estudiantes.label_tag }}
                                    {{ form.estudiantes }}
                                    {% if form.estudiantes.help_text %}
                                        <small class="form-text text-muted">{{ form.estudiantes.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.asesor.label_tag }}
                                    {{ form.asesor }}
                                    {% if form.asesor.help_text %}
                                        <small class="form-text text-muted">{{ form.asesor.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.estado.label_tag }}
                                    {{ form.estado }}
                                    {% if form.estado.help_text %}
                                        <small class="form-text text-muted">{{ form.estado.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.archivo_anteproyecto.label_tag }}
                                    {{ form.archivo_anteproyecto }}
                                    {% if form.archivo_anteproyecto.help_text %}
                                        <small class="form-text text-muted">{{ form.archivo_anteproyecto.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="tab-pane fade" id="pills-trabajo" role="tabpanel"
                                 aria-labelledby="pills-trabajo-tab">
                                <div class="form-group">
                                    {{ form.fecha_entrega.label_tag }}
                                    {{ form.fecha_entrega }}
                                    {% if form.fecha_entrega.help_text %}
                                        <small class="form-text text-muted">{{ form.fecha_entrega.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.fecha_sustentacion.label_tag }}
                                    {{ form.fecha_sustentacion }}
                                    {% if form.fecha_sustentacion.help_text %}
                                        <small class="form-text text-muted">{{ form.fecha_sustentacion.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.jurados.label_tag }}
                                    {{ form.jurados }}
                                    {% if form.jurados.help_text %}
                                        <small class="form-text text-muted">{{ form.jurados.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.nota.label_tag }}
                                    {{ form.nota }}
                                    {% if form.nota.help_text %}
                                        <small class="form-text text-muted">{{ form.nota.help_text }}</small>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.archivo_trabajo.label_tag }}
                                    {{ form.archivo_trabajo }}
                                    {% if form.archivo_trabajo.help_text %}
                                        <small class="form-text text-muted">{{ form.archivo_trabajo.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Formatos de Codigo de Carrera</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Escuela</th>
                        </tr>
                        </thead>
                        {% for carrera in request.user.perfil.escuela.carreras.all %}
                            <tr>
                                <td>{{ carrera.cod_carrera }}</td>
                                <td>{{ carrera.carrera.nombre }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.4/tinymce.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {{ form.media }}
    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: '#id_detalle'
            });

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: "yy-mm-dd"
                });
            });

            $('#id_anteproyecto').select2({
                width: '100%'
            });

            $('#id_jurados').select2({
                width: '100%'
            });
        });


    </script>
{% endblock %}