{% extends 'base.html' %}

{% block title %}Lista Modelos{% endblock %}

{% block head %}
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                    {% if perms.inventario.add_modelo %}
                    <div class="card-header"><p class="card-text"><a class="btn btn-primary" href="{% url 'inventario:crear-modelo' %}"><i
                        class="fa fa-edit"></i> Registrar</a></p></div>
                    {% endif %}
                <div class="card-body">
                    <h4 class="card-title">Listado de Modelos</h4>
                    {% if modelos %}
                    <table class="table" id="enhance">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        
                            <tbody>
                            {% for modelo in modelos %}
                                <tr>
                                    <td>{{ modelo }}</td>
                                    <td><a href="{% url 'inventario:modelo-detalle' modelo.pk %}"
                                           class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Editar</a>
                                        {% if modelo.url %}
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-link"></i>
                                                Modelo </a>
                                        {% else %}
                                            <a href="#" class="btn disabled"><i class="fas fa-link"></i> Modelo</a>
                                        {% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <div class="alert alert-info text-center">No hay modelos registradas</div>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#enhance").DataTable();
        });
    </script>
{% endblock %}